footer {
    margin-top: 19rem;
    position: relative;
    display: flex;
    align-items: center;
    /* padding-inline: 10rem; */

    & .bg-footer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    & .left {
        max-width: 16.5rem;
        margin: 10.625rem auto 7.125rem 10rem;

        & .footer-logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        & .divisor {
            width: 100%;
            background-color: var(--shape-stroke);
            height: 1px;
            margin-block: 0.75rem;
        }
    }

    & .right {
        margin: 10.625rem 10rem 6.375rem auto;
        & .links {
            display: flex;
            gap: 3.5rem;
            
            & ul {
                display: grid;
                gap: 0.75rem;

                & li {
                    list-style: none;
                }

                & .li-title {
                    margin-bottom: 0.75rem;
                }
            }

        }
    }
}