.header-content {
    display: flex;
    align-items: center;
    padding-top: 3.5rem;
    padding-inline: 10rem;
    margin-bottom: 10.25rem;

    & img {
        margin-right: auto;
    }

    & button {
        background-color: var(--pink-dark);
        color: var(--text-title);
        padding-inline: 1.25rem;
        padding-block: 0.75rem;
        border: none;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}