.hero {
    position: relative;
    & .hero-title {
        max-width: 41rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        margin-inline: auto;
        z-index: 1;

        & p {
            max-width: 35.5rem;
        }
    }

    & .bg-hero {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    
}

.hero-subtitle {
    position: relative;
    max-width: 71rem;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
    margin-top: 35rem;

    & strong {
        color: var(--blue-light);
    }

    & img {
        position: absolute;
        width: 5rem;
        height: auto;

        &[src*="spellbook"] {
            rotate: 20deg;
            top: 1rem;
        }

        &[src*="ouija"] {
            rotate: 100deg;
            bottom: 3.75rem;
            left: 2rem;
        }

        &[src*="crystal"] {
            rotate: -15deg;
            bottom: 3.75rem;
            right: 0;
        }
    }
}