section.kit {
    & .kit-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 6rem;
        
        & .kit-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--text-title);
        }
    }

    & .book {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
        padding-top: 8.375rem;
        height: 57.5rem;

        & img:nth-child(1) {
            max-width: 28rem;
            width: 100%;
            height: auto;
        }
        
        & img:nth-child(2) {
            position: absolute;
            max-width: 10.75rem;
            width: 100%;
            max-height: 33.5rem;
            height: 100%;
            rotate: 12deg;
            right: 26.5rem;
            top: 9rem;
            z-index: -1;
        }

        & img:nth-child(3) {
            position: absolute;
            max-width: 10.75rem;
            width: 100%;
            max-height: 33.5rem;
            height: 100%;
            rotate: 22deg;
            z-index: -2;
            right: 20.5rem;
        }

        & img:nth-child(4) {
            position: absolute;
            max-width: 14rem;
            width: 100%;
            max-height: 16rem;
            height: 100%;
            rotate: -8deg;
            z-index: -1;
            left: 25rem;
            bottom: 1rem;
        }

        & img:nth-child(5) {
            position: absolute;
            max-width: 6.5rem;
            width: 100%;
            max-height: 8rem;
            height: 100%;
            z-index: -3;
            left: 22rem;
            bottom: 14rem;
        }

        & img:nth-child(6) {
            position: absolute;
            max-width: 11rem;
            width: 100%;
            max-height: 1.875rem;
            height: 100%;
            z-index: -3;
            left: 25.5rem;
            top: 13.5rem;
        }

        & img:nth-child(7) {
            position: absolute;
            max-width: 9rem;
            width: 100%;
            max-height: 9.5rem;
            height: 100%;
            z-index: -3;
            right: 24.5rem;
            bottom: 0;
        }
    }
}