section.pricing {
    /* background-color: var(--shape-base); */
    & .pricing-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30rem;
    }

    & .prices {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 9rem;

        & h3 {
            margin-bottom: 1.5rem;
        }

        & span.title-sm {
            margin-bottom: 0.5rem;
            color: var(--text-title);
        }

        & small {
            font-weight: 700;
        }

        & .button {
            color: var(--text-title);
            padding-block: 0.75rem;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            transition: 600ms;

            &:hover {
                cursor: pointer;
            }
        }

        & .btn-blue {
            background-color: var(--blue-dark);
            &:hover {
                background-color: var(--blue-light);
            }
        }

        & .btn-purple {
            background-color: var(--pink-dark);
            &:hover {
                background-color: var(--pink-light);
            }
        }
    }

    & .monthly {
        position: absolute;
        max-width: 18rem;
        width: 100%;
        max-height: 26rem;
        height: 100%;
        background-color: var(--shape-base);
        display: grid;
        justify-content: center;
        padding: 2rem 2rem 1.75rem 2rem;
        border-radius: 1.5rem;
        border: 1px solid var(--shape-stroke);
        rotate: -8deg;
        left: 21rem;
        z-index: 1;
        transition: 600ms;

        & h3 {
            color: var(--blue-light);
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 5.375rem;
            margin-bottom: 0.5rem;
            list-style: none;

            & li {
                display: flex;
                align-items: center;
            }
        }

        &:hover {
            background-color: var(--shape-hover);
            border: 1px solid var(--shape-hover);
            z-index: 3;
            transform: translateY(-10px);
            box-shadow: 0 0 150px 0 var(--blue-dark);
            &
            .semester {
                background-color: var(--shape-base);
                border: 1px solid var(--shape-stroke);
            }
        }
    }


    & .semester {
        position: relative;
        max-width: 18rem;
        width: 100%;
        max-height: 26rem;
        height: 100%;
        background-color: var(--shape-hover);
        display: grid;
        justify-content: center;
        padding: 2rem 2rem 1.75rem;
        border-radius: 1.5rem;
        border: 1px solid var(--shape-hover);
        bottom: 3rem;
        z-index: 2;
        transition: 600ms;

        & h3 {
            color: var(--pink-light);
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            margin-bottom: 0.5rem;
            list-style: none;

            & li {
                display: flex;
                align-items: center;
            }
        }

        &:hover {
            background-color: var(--shape-hover);
            border: 1px solid var(--shape-hover);
            z-index: 3;
            transform: translateY(-10px);
            box-shadow: 0 0 150px 0 var(--blue-dark);
        }
    }

    & .annual {
        position: absolute;
        max-width: 18rem;
        width: 100%;
        max-height: 26rem;
        height: 100%;
        background-color: var(--shape-base);
        display: grid;
        justify-content: center;
        padding: 2rem 2rem 1.75rem;
        border-radius: 1.5rem;
        border: 1px solid var(--shape-stroke);
        rotate: 8deg;
        right: 21rem;
        z-index: 1;
        transition: 600ms;

        & h3 {
            color: var(--blue-light);
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            list-style: none;

            & li {
                display: flex;
                align-items: center;
            }
        }

        &:hover {
            background-color: var(--shape-hover);
            border: 1px solid var(--shape-hover);
            z-index: 3;
            transform: translateY(-10px);
            box-shadow: 0 0 150px 0 var(--blue-dark);
        }
    }
}