section.pricing {
    /* background-color: var(--shape-base); */
    display: grid;
    align-content: center;
    justify-content: center;
    max-width: 20rem;
    margin-inline: auto;
    & .pricing-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30rem;
    }

    & .prices {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-block: 9rem;
        max-width: 18rem;

        &:hover .semester:not(:hover) {
            background-color: var(--shape-base);
            border: 2px solid var(--shape-stroke);
        }

        & h3 {
            margin-bottom: 1.5rem;
        }

        & .heading-semester {
            & img {
                position: absolute;
                top: -12.5%;
            }

            & span {
                position: absolute;
                display: flex;
                align-items: center;
                max-height: 1.875rem;
                height: 100%;
                background-color: var(--shape-stroke);
                color: var(--text-title);
                padding: 9px 1.25rem;
                border-radius: 999px;
                right: 7%;
                top: 6%;
            }
        }

        & span.title-sm {
            margin-bottom: 0.5rem;
            color: var(--text-title);
        }

        & small {
            font-weight: 700;
        }

        & .button {
            color: var(--text-title);
            padding-block: 0.75rem;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            transition: 600ms;
            cursor: pointer;
        }

        & .btn-blue {
            --bg-color: var(--blue-dark);
            --hover-color: var(--blue-mid);
        }

        & .btn-purple {
            --bg-color: var(--pink-dark);
            --hover-color: var(--pink-base);
        }
    }

    & .monthly {
        position: absolute;
        max-width: 18rem;
        width: 100%;
        max-height: 26rem;
        height: 100%;
        background-color: var(--shape-base);
        display: grid;
        justify-content: center;
        padding: 2rem 2rem 1.75rem 2rem;
        border-radius: 1.5rem;
        border: 2px solid var(--shape-stroke);
        rotate: -8deg;
        left: -100%;
        z-index: 1;
        transition: 600ms;

        & h3 {
            color: var(--blue-light);
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 5.375rem;
            margin-bottom: 0.5rem;
            list-style: none;

            & li {
                display: flex;
                align-items: center;
            }
        }

        & .out-stars {
            & img {
                transition: transform 600ms, rotate 600ms;
            }

            & img:nth-child(1) {
                width: 4.5rem;
                height: 4.5rem;
                position: absolute;
                top: -13%;
                left: -16%;
            }

            & img:nth-child(2) {
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                top: -2%;
                left: -17%;
            }
        }

        &:hover .out-stars img {
            transform: translateY(5px);
            &:nth-child(1) {
                rotate: -20deg;
            }

            &:nth-child(2) {
                rotate: 20deg;
            }
        }

        &:hover {
            background-color: var(--shape-hover);
            border: 2px solid var(--shape-hover);
            z-index: 3;
            transform: translateY(-5px);
            box-shadow: 0 0 150px 0 var(--blue-dark);
        }
    }


    & .semester {
        position: relative;
        max-width: 18rem;
        width: 100%;
        max-height: 26rem;
        height: 100%;
        background-color: var(--shape-hover);
        display: grid;
        justify-content: center;
        padding: 2rem 2rem 1.75rem;
        border-radius: 1.5rem;
        border: 2px solid var(--shape-hover);
        bottom: 3rem;
        z-index: 2;
        transition: 600ms;

        & h3 {
            color: var(--pink-light);
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            margin-bottom: 0.5rem;
            list-style: none;

            & li {
                display: flex;
                align-items: center;
            }
        }

        &:hover {
            background-color: var(--shape-hover);
            border: 2px solid var(--shape-hover);
            z-index: 3;
            transform: translateY(-10px);
            box-shadow: 0 0 150px 0 var(--blue-dark);
        }
    }

    & .annual {
        position: absolute;
        max-width: 18rem;
        width: 100%;
        max-height: 26rem;
        height: 100%;
        background-color: var(--shape-base);
        display: grid;
        justify-content: center;
        padding: 2rem 2rem 1.75rem;
        border-radius: 1.5rem;
        border: 2px solid var(--shape-stroke);
        rotate: 8deg;
        right: -100%;
        z-index: 1;
        transition: 600ms;

        & h3 {
            color: var(--blue-light);
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            list-style: none;

            & li {
                display: flex;
                align-items: center;
            }
        }

        & .out-stars {
            & img {
                transition: transform 600ms, rotate 600ms;
            }

            & img:nth-child(1) {
                width: 4.5rem;
                height: 4.5rem;
                position: absolute;
                bottom: -10%;
                right: -22%;
            }

            & img:nth-child(2) {
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                bottom: -9%;
                right: -2%;
            }
        }

        &:hover .out-stars img {
            transform: translateY(5px);
            &:nth-child(1) {
                rotate: 20deg;
            }

            &:nth-child(2) {
                rotate: -20deg;
            }
        }

        &:hover {
            background-color: var(--shape-hover);
            border: 1px solid var(--shape-hover);
            z-index: 3;
            transform: translateY(-5px);
            box-shadow: 0 0 150px 0 var(--blue-dark);
        }
    }
}